section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 8rem;
}

section h1 {
    padding: 2rem 0;
    font-size:2rem;
    color: var(--cor-primaria);
}

section span {
    color: var(--cor-destaque);
}

section div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

/* Altera se for ímpar */
section:nth-child(odd) {
    background-color: var(--cor-01);
}

/* Altera se for par */
section:nth-child(even) {
    background-color: var(--cor-02);
}
