
/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Paleta de cores */
    --cor-primaria: #193963;
    --cor-destaque: #89b92e;
    --cor-01: #f9f9f9;
    --cor-02: #f2f5f8;
    --cor-03: #dde2e7;
    --cor-04: #a2a3a8;
    --cor-05: #232323;
    
    /* --cor-primaria: #623df6; */
    /* --cor-destaque: #ff285a; */
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 1rem 0;
}
