nav {
    color: var(--cor-primaria);
}

nav li {
    display: flex;
    gap: 0.3rem;
    list-style: none;
}

nav a {
    color: inherit;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover {
    color: var(--cor-destaque);
}
